@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');
* {
		font-family: 'Open Sans Condensed', sans-serif;
		outline: none; 
}

nav {
		padding: 13px;
		margin: 5px;
}

nav * {
		padding: 3px;
		text-transform: uppercase;
}

nav a {
		color: black;
		text-decoration:none;
}

nav input {
		border:0;
		border-bottom: 1px solid pink;
}

nav input:hover, nav input:focus {
		border-bottom: 1px solid #ffc5c0;
}

.container {
	padding: 13px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
	}
	
 .pagination {
	 margin: 5px;
 }
 
 .pagination a {
	 color: black;
	 text-decoration:none;
	 padding: 5px;
 }
 
 .pagination a.active {
	 color: #6e6e6e;
 }