<!--
	InstantList {{ version }}
	
	GitHub:  http://github.com/da15y/instantlist
-->

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>InstantList</title>
	<link rel="stylesheet" type="text/css" href="./main.css">
</head>
<body>
<nav>
	<a href="./">InstantList</a>
	<input id="instantlist_search" type="text" placeholder="Поиск">
</nav>
<div class="container">
<h1>Результаты  поиска</h1>


<noscript>
	<h3>Внимание!</h3>
	<p>Для удобства использования включите JavaScript.</p>
</noscript>


<table>
	<thead>
		<th>ID</th>
		<th>Название</th>
		<th>Превью</th>
		<th>SWF файл</th>
	</thead>
	<tbody>
</tbody>
</table>
<script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
<script type="text/javascript" src="./search.js"></script>
</body>
</html>